.welcomeSara{
    width: 500px;
    height: 100px;
    background-color: aqua;
}

.welcomeEmi{
    width: 500px;
    height: 150px;
    background-color: blanchedalmond
}

.welcomeMai{
    width: 600px;
    height: 150px;
    background-color: brown
}

